################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
*.user
*.suo
*.force
/NCharDet/obj
/NCharDet/bin
/ShooterDownloader/bin
/ShooterDownloader/obj
/ShooterExt/Debug
/ShooterExt/x64
/bin
/ShooterExt/ShooterExt_i.c
/ShooterExt/ShooterExt_i.h
/ShooterExt/ShooterExt_p.c
